body{
    font-family: sans-serif;
    background-color: rgb(20, 20, 20); 
    margin: 0;
    padding: 0;
}
.principal{
    width: 100%;
    margin: auto;
}
.cabecalho{
    height: 70px;
    background-color: #050019;
    position: relative;
    margin-bottom: 200px;
}
.logo{
    margin: 18px 160px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px 0 0 ;
    padding: 25px 10px;
}
nav a{
    text-decoration: none;
    color: crimson;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: color 0.5s linear
}
nav a:hover{
    color: burlywood;
}
.cabecalho-letreiro{
    text-align: center;
    margin: 87px;
}
.cabecalho-letreiro h1{
    text-transform: uppercase;
    color: crimson;
    text-shadow: black 3px 5px 5px;
}
.cabecalho-letreiro a{
    text-decoration: none;
    color: white;
}
main{
    width: 80%;
    margin: auto;
}
.sessao{
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}
.sessao p{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.prg-up{
    text-transform: uppercase;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.prg-up a{
    text-decoration: none;
    color: crimson;
    transition: color 0.5s linear;
}
.prg-up a:hover{
    color: burlywood;
}
.sessao h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: crimson;
}
.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card p{
    background-color:rgba(0, 0, 0, 0.78);
    color: crimson;
    text-align: center;
    padding: 13px;
    margin-top: 0;
    border-bottom: 6px solid crimson;
    letter-spacing: 4px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #050019;
    color: crimson;
    margin-top: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
footer a{
    text-decoration: none;
    color: crimson;
}