@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background: #0e091b;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400;
}
header {
  background: #0e091b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 79px;
  box-shadow: 0px -5px 50px black;
}
header h1 {
  color: white;
  letter-spacing: 3px;
}
.menu ul {
  display: flex;
  gap: 20px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.menu li {
  list-style: none;
  margin: 1px;
}
.menu li:last-child {
  border-bottom: 3px solid crimson;
}

/*Descrição*/
.container-btn {
  width: 600px;
}
.btn-projetos,
.btn-contato {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
  margin-right: 50px;
}
.btn-projetos {
  background: crimson;
  border: 2px solid crimson;
  color: #0e091b;
  font-weight: bold;
}
.btn-contato {
  background: #0e091b;
  border: 2px solid crimson;
  color: crimson;
  font-weight: bold;
}
.descricao {
  padding: 200px 0 0 200px;
  width: 600px;
}
.descricao h1 {
  color: white;
  font-weight: normal;
  font-size: 40px;
}
.descricao span {
  font-weight: bold;
  font-size: 50px;
}
.descricao p {
  margin-bottom: 60px;
  font-size: 18px;
  color: rgb(180, 180, 180);
}
.container-descricao {
  display: flex;
  justify-content: space-evenly;
}
/*Quem sou*/
.container-quemsou {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 600px;
}
.quemsou {
  width: 500px;
  margin-left: 80px;
}
.quemsou h2 {
  color: crimson;
  font-size: 60px;
  text-transform: uppercase;
}
.quemsou p {
  color: rgb(192, 192, 192);
}
.quemsou-img {
  width: 650px;
}
/*Habilidades*/
.container-skills {
  background: #170f2c;
  height: 600px;
  margin: 0 auto;
}
.container-skills h1 {
  width: 1000px;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  text-transform: uppercase;
  color: crimson;
  margin: 100px auto 50px auto;
  font-size: 60px;
}
.skills {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
}
.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  color: crimson;
}
.skill-bar {
  height: 30px;
  background: #cacaca;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  box-shadow: 0px 10px 30px rgb(0, 0, 0);
}
.skill-per{
  height: 30px;
  background: linear-gradient(to left, crimson, orange);
  border-radius: 0px 10px 10px 0px;
}
.per-html{
  width: 100%;
}
.per-css{
  width: 80%;
}
.per-javascript{
  width: 50%;
}
.per-jquery{
  width: 70%;
}
.per-flexbox{
  width: 100%;
}
.per-grid{
  width: 70%;
}
.per-git{
  width: 60%;
}
.per-photoshop{
  width: 100%;
}

/*Projetos*/
summary{
  list-style: none;
}
.container-projetos {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.titulo-projeto {
  color: crimson;
  font-size: 80px;
  margin-left: 50px;
  text-transform: uppercase;
}
.projeto-detalhes {
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: crimson;
  background: #0e091b;
  margin: 30px;
  box-shadow: 0px 10px 30px black;
  cursor: pointer;
  transition: all 0.3s;
}
.projeto-detalhes:hover {
  width: 450px;
  padding: 25px;
}
.collapse {
  display: flex;
  flex-direction: column;
}
.collapse a {
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 3px solid #170f2c;
}
/*Footer*/
footer p {
  color: crimson;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to left, #0e091b, #170f2c);
}

/*Barra de rolagem*/
/*Fundoque corre*/
::-webkit-scrollbar-track {
  background-color: #0e091b;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: crimson;
}
/*Linha que desce*/
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 30px;
}
