@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: "Poppins";
}
body{
  background: #0e091b;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 3.125rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0e091b;
  box-shadow: 1px 15px 30px black;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

/*!Informações*/
.container-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6.25rem 1.875rem 1.875rem 1.875rem;
}
.info-desc h1{
  color: white;
  font-size: 3.125rem;
  font-weight: normal;
  margin-bottom: -0.313rem;
}
.info-desc span{
  font-weight: bold;
}
.info-desc p{
  color: rgb(153, 153, 153);
  font-weight: 600;
}
.info-img img{
  width: 100%;
  border-radius: 0 30%;
}
.info-btn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.875rem;
}
.info-btn1, .info-btn2{
  padding: 0.625rem 1.875rem;
  border-radius: 10px;
  font-weight: bold;
}
.info-btn1{
  background: crimson;
  border: 3px solid crimson;
}
.info-btn2{
  border: 3px solid crimson;
  color: crimson;
}

/*!quem sou*/
.container-who{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6.25rem 1.875rem;
}
.who-img img{
  width: 100%;
}
.who{
  width: 28.125rem;
}
.who h2{
  font-size: 3.125rem;
  color: crimson;
  text-transform: uppercase;
}
.who p{
  color: rgb(212, 212, 212);
}
/*Habilidades*/
.container-skills{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-content:flex-start;
  gap: 0px 0.625rem;
  flex-wrap: wrap;
  background: #1d113a;
}
.container-skills h1{
  text-align: center;
  width: 100%;
  color: crimson;
  font-weight: bold;
  font-size: 3.125rem;
  text-transform: uppercase;
  margin-bottom: -3.125rem;
}
.skill{
  width: 20%;
  height: 30px;
  background: #0e091b;
  border-radius: 20px;
  margin: 6.25rem 1.875rem 0 1.875rem;

}
.skill-html, .skill-css, .skill-flexbox, .skill-grid, .skill-js, .skill-jquery, .skill-photoshop, .skill-git{
  background: linear-gradient(to left, crimson, orange);
  height: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.skill-css{
  width: 100%;
}
.skill-flexbox{
  width: 90%;
}
.skill-grid{
  width: 60%;
}
.skill-js{
  width: 60%;
}
.skill-jquery{
  width: 80%;
}
.skill-git{
  width: 80%;
}
.skill-photoshop{
  width: 100%;
}

/*!Projetos*/
summary{
  list-style: none;
}
.container-projeto{
  margin: 0 auto;
}
.titulo-projeto{
  color: crimson;
  font-size: 3.125rem;
  text-transform: uppercase;
  text-align: center;
}
.project-details{
  width: 30%;
  padding: 1.25rem 6.25rem;
  background: #170f2c;
  border-radius: 10px;
  margin: 1.25rem auto;
  cursor: pointer;
  text-align: center;
  color: crimson;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 10px 30px black;
  transition: all .3s;
}
.project-details:hover{
  width: 35%;
  padding: 2rem;
}
.collapse {
  display: flex;
  flex-direction: column;
}
.collapse a {
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
  border-bottom: 3px solid #170f2c;
}

/*Formulario de contato*/
.container-contact{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  margin: 6.25rem auto -1.875rem auto;
  background: linear-gradient(to left, crimson, orange);
}
.contact{
width: 34.7%;
}
.contact h1{
  font-size: 3.75em;
  color: crimson;
  text-transform: uppercase;
}
.contact p{
  color: white;
  font-weight: 400;
}
/*Formulario*/
.form-form{
  width: 34.7%;
  margin: 3.125rem 0;
}
.form{
  display: flex;
  flex-direction: column;
}
.form input,select,textarea{
  background: transparent;
  border: 4px solid #ccc;
  border-radius: 10px;
  padding: 0.938rem;
  margin: 0.313rem 0;
  color: #0e091b;
  font-weight: 600;
}
.form input::placeholder, textarea::placeholder{
  color: #0e091b;
}
.form select option{
  font-weight: bold;
  color: #0e091b;
}
.btn{
  font-size: 1.875em;
  transition: .3s linear;
  text-transform: uppercase;
}
.btn:hover{
  transition: .3s linear;
  background: #0e091b;
  color: crimson;
  border: 4px solid crimson;
  cursor: pointer;
}

/*Footer*/
footer{
  width: 100%;
  background: linear-gradient(to left, #0e091b, #170f2c);
  margin-bottom: -6.25rem;
}
footer p{
  color: crimson;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 1.875rem;
  text-align: center;
}

/*Barra de rolagem*/
/*Fundoque corre*/
::-webkit-scrollbar-track {
  background-color: #0e091b;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: crimson;
}
/*Linha que desce*/
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 30px;
}
